# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# *.xcodeproj
#
# Xcode automatically generates this directory with a .xcworkspacedata file and xcuserdata
# hence it is not needed unless you have added a package configuration file to your project
# .swiftpm

.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/
#
# Add this line if you want to avoid checking in source code from the Xcode workspace
# *.xcworkspace

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build/

# fastlane
#
# It is recommended to not store the screenshots in the git repo.
# Instead, use fastlane to re-generate the screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
.vscode/
.trae/
project/**/build/
project/**/sdkconfig
project/**/sdkconfig.old
project/rust/target/
project/rust/.embuild/
project/**/.ninja_deps
project/**/.ninja_log
project/**/CMakeCache.txt
project/**/build.ninja
project/**/compile_commands.json
project/**/flasher_args.json
project/**/flasher_args.json.in
project/**/flash_args
project/**/flash_args.in
project/**/flash_app_args
project/**/flash_bootloader_args
project/**/flash_project_args
project/**/partition-table.bin
project/**/partition-table-flash_args
project/**/app-flash_args
project/**/app-flash_args.in
project/**/bootloader-flash_args
project/**/project_description.json
project/**/project_elf_src_*.c
project/**/x509_crt_bundle.S
project/**/log/idf_py_stdout_output_*
project/**/log/idf_py_stderr_output_*
*.elf
*.bin
*.map
